#root {
  box-sizing: border-box;
  height: 100vh;
  min-height: 730px;
  width: 100%;
  text-align: center;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(30deg, #5f3067, #bfaec2);
}
#body {
  height: 80%;
  width: 64%;
  grid-template-columns: [header] 1fr;
  grid-template-rows: [header] 80px [main] auto;
  justify-content: center;
  color: #5f3067;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: rgb(242, 212, 247) 0 0 10px 2px;
  z-index: 10;
}
/* ADVERTISING */
#graphic {
  transform: scale(2.4) translateX(30%);
}
#advertising {
  width: 18%;
  min-width: 200px;
}
.advert {
  width: 80px;
  margin: 5px 0;
  border-radius: 5px;
}
.advert:hover {
  box-shadow: #5f3067 0 0 10px 0;
}
.advert-link {
  opacity: 0.5;
}
.advert-link:hover {
  opacity: 1;
}
/* HEADER */
#header {
  grid-area: header;
  grid-template-columns: [top] 1fr;
  grid-template-rows: [top] 60px [bottom] 20px;
  padding: 0 10px;
  background-color: #d9d9d9;
  border-radius: 5px 5px 0 0;
  font-weight: 700;
}
.progress-outer {
  height: 10px;
  width: 100%;
  background-color: #f4f4f4;
}
.progress-bar {
  background-color: #5f3067;
  height: 10px;
}
.todo {
  width: 100%
}
.delete {
  padding: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(240, 248, 255, 0);
}
#header-top {
  grid-area: top;
  border-radius: 5px 5px 0 0;
}
#logo {
  width: 100px;
}
/* MAIN CONTENT */
#main-content {
  grid-template-columns: [list] 3fr [form] 2fr;
  grid-template-rows: [list] 1fr;
}
/* LIST */
#todo-list {
  grid-area: list;
  border-right: 3px #d9d9d9 solid;
  padding: 0 10px;
}
.todo {
  padding: 15px 0;
  border-bottom: 3px #d9d9d9 solid;
}
.todo-text:hover {
  cursor: pointer;
}
.complete {
  color: #bfaec2;
  text-decoration: line-through;
}
.delete {
  border-style: none;
}
.delete:hover {
  cursor: pointer;
}
/* DEFAULTS */
h1, h2, h3, h4, h5, h6, li, ul, ol, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.inline-grid {
  display: inline;
}
.flex-col {
  flex-direction: column;
}
.align-start {
  align-items: start;
}
.align-end {
  align-items: end;
}
.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1080px) {
  #body {
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  #body {
    width: 56%;
  }
}
@media only screen and (max-width: 920px) {
  #body {
    width: 52%;
  }
}
@media only screen and (max-width: 840px) {
  #body {
    width: 48%;
  }
}
@media only screen and (max-width: 767px) {
  #body {
    width: 44%;
  }
}